@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 992px) {
    .cart-background-image {
        height: 300px;
    }
}
@media screen and (max-width: 768px) {
    nav ul {
        margin-bottom: 0px;
    }
    #toggle-button {
        display: flex;
    }
    #toggle-button.active {
        top: 10%;
    }
    #menu {
        display: none;
    }
    #menu.active {
        display: block;
    }
    .padding-150 {
        padding: 50px 0px;
    }
}