@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Raleway&display=swap');
:root {
    --font-heading: 'Montserrat', sans-serif;
    --font-text: 'Raleway', sans-serif;
    --font-small-text: 'Oswald', sans-serif;
    --color-black: #111111;
    --color-white: #FFFFFF;
    --color-grey: #F3F2EE;
    --color-red: #E53637;
    --color-pink: #F2DFDB;
    --size-big-heading: 2rem;
    --size-subheading: 1.5rem;
    --size-bigger-text: 1.25rem;
    --size-normal-text: 1rem;
    --size-small-text: 0.875rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track {
	background: var(--color-white);
}
::-webkit-scrollbar-thumb {
	background: var(--color-pink);
} */
body {
    font-family: var(--font-text);
    color: var(--black);
    font-size: var(--size-normal-text);
    letter-spacing: 2px;
}
img {
    width: 100%;
}
ul {
    list-style-type: none;
}
ul li, i {
    font-size: var(--size-normal-text);
}
a {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--size-normal-text);
}
a:hover {
    text-decoration: none;
    color: inherit;
}
input:focus, textarea:focus, select:focus {
    border-color: var(--color-black) !important;
    box-shadow: none !important;
}
header {
    background-color: var(--color-black);
}
header a {
    color: var(--color-white) !important;
}
header a:hover i {
    color: var(--color-red);
}
nav {
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}
nav h1 {
    font-size: var(--size-big-heading);
    white-space: nowrap;
    font-family: var(--font-heading);
}
nav a {
    font-weight: bold;
}
nav ul li {
    border-bottom: 1px solid transparent;
    transition: 0.3s all;
}
nav ul li:hover {
    border-color: var(--color-red);
}
nav a i {
    font-size: var(--size-bigger-text);
}
.cart-link {
    position: relative;
    padding: 12px;
}
.cart-link::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 0;
    right: 0;
    background-color: var(--color-red);
    opacity: 0.8;
}
.cart-link::before {
    content: '3';
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    top: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    z-index: 3;
}
#toggle-button {
    width: 35px;
    height: 26px;
    position: absolute;
    top: 30%;
    right: 3%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--color-black);
    border-radius: 10px;
}
#hero {
    width: 100%;
    background-image: url('../images/bg-image-homepage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding: 200px 0px;
}
.shop-now-button {
    display: inline-block;
    padding: 12px 40px;
    background-color: var(--color-black) !important;
    color: var(--color-white);
    text-transform: uppercase;
    transition: 0.3s all;
}
.shop-now-button i {
    color: var(--color-red);
}
.shop-now-button:hover {
    color: var(--color-white);
    padding: 15px 40px;
}
#filters {
    background-color: var(--color-white);
}
.filter-image {
    background-color: var(--color-black);
}
.filter-image img {
    opacity: 0.5;
}
.shop-now-link {
    border-bottom: 2px solid var(--color-black);
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s all;
}
.shop-now-link:hover {
    border-color: var(--color-red);
}
#products {
    background-color: var(--color-white);
}
.product-text {
    text-align: center;
}
.price-text-old {
    display: inline-block;
    text-decoration: line-through;
}
.price-text-new {
    display: inline-block;
    font-weight: bold;
}
.stars i {
    color: var(--color-pink);
}
.star-filled {
    color: orange !important;
}
.product {
    background-color: var(--color-white);
}
.product h3 {
    font-size: var(--size-bigger-text);
    font-weight: bold;
}
.product-image {
    height: 250px;
    background-image: url('../images/dress-01-original.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.overlay-product-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
}
.product-icons {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s all;
}
.product-icons a, .product-icons button {
    border: 1px solid var(--color-white);
    padding: 10px;
    color: var(--color-white);
    font-size: var(--size-normal-text) !important;
    transition: 0.3s all;
}
.product-icons button {
    background-color: transparent;
    width: 46.5px !important;
    height: 41px;
}
.product-icons a:hover, .product-icons button:hover {
    padding: 12px;
}
.product-icons i {
    font-size: var(--size-bigger-text);
}
.product:hover .product-icons, .product:hover .overlay-product-image {
    visibility: visible;
    opacity: 1;
}
.product:hover .overlay-product-image {
    background-color: rgba(0, 0, 0, 0.7);
}
.product:hover .product-image {
    background-size: cover;
}
#about-us {
    width: 100%;
    background-image: url('../images/bg-image-homepage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.overlay {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
}
#about-us p {
    color: var(--color-white);
}
#services {
    background-color: var(--color-grey);
}
.service p {
    text-transform: uppercase;
}
.service i {
    font-size: var(--size-big-heading);
}
footer {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
}
footer .shop-now-link {
    color: var(--color-white);
}
footer a {
    color: var(--color-white);
    transition: 0.3s all;
}
footer a:hover {
    border-bottom: 1px solid var(--color-red);
}
footer h3 {
    font-size: var(--size-normal-text);
    text-transform: uppercase;
    font-weight: bold;
}
.list-social li a {
    border: none;
}
.list-social i {
    font-size: var(--size-big-heading);
    color: var(--color-white);
    transition: 0.3s all;
}
.list-social li:hover i {
    padding: 3px;
}
#main-about-us {
    background-color: var(--color-white);
    font-size: var(--size-normal-text);
    font-weight: 600;
}
.about-us-link {
    border-bottom: 1px solid var(--color-red);
    font-weight: bold;
}
#message {
    resize: none;
}
.button {
    padding: 12px 40px;
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;
    text-transform: uppercase;
}
.button:hover {
    transform: scale(0.98);
}
.address-holder h3 {
    font-size: var(--size-normal-text);
    text-transform: uppercase;
}
.filter-group .btn:focus {
    outline: 0 !important;
    box-shadow: none;
}
.filter-group h6 {
    font-weight: bold;
}
.size-label::after, .size-label::before {
    display: none;
}
.size-label {
    min-width: 70px;
    padding: 5px 0px;
    border: 1px solid var(--color-black);
    cursor: pointer;
    text-align: center;
}
.active-size {
    border-width: 3px;
    font-weight: bold;
}
.button-clear {
    border: 1px solid var(--color-black);
    transition: 0.3s all;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--size-small-text);
}
.button-clear:hover {
    border-color: var(--color-red);
}
.button-clear:focus {
    outline: 0;
    box-shadow: none;
}
.pagination-list a {
    border: 1px solid var(--color-black);
    font-weight: bold;
}
.pagination-list a:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
.pagination-active-link {
    background-color: var(--color-black);
    color: var(--color-white);
}
#contact label {
    font-weight: bold;
}
.single-product-background {
    background-color: var(--color-grey);
}
#single-product h3 {
    font-size: var(--size-bigger-text);
    font-weight: bold;
}
#single-product p {
    font-size: var(--size-normal-text);
    text-transform: uppercase;
}
.product-colors label {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
}
.active-color {
    min-width:  40px !important;
    min-height: 40px !important;
    border: 3px solid var(--color-red);
}
.color-black {
    background-color: black;
}
.color-white {
    background-color: white;
}
.color-blue {
    background-color: blue;
}
.color-yellow {
    background-color: yellow;
}
.color-green {
    background-color: green;
}
.button-operator, .button-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.button-operator {
    width: 20px;
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
}
.button-quantity {
    width: 40px;
    border: 1px solid var(--color-black);
}
#quantity-help {
    color: var(--color-red) !important;
}
.product-add-to-cart button, .go-to-cart {
    width: 100%;
    border: 1px solid var(--color-black);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s all;
}
.product-add-to-cart button:hover, .go-to-cart:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
.button-close-modal {
    width: 30px !important;
    height: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.padding-150 {
    padding: 150px 0px;
}


/* .test {
    border: 1px solid black;
    height: 300px;
} */